.formcontainer{
    width: 400px;
}
.formlabel, .forminput{
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-bottom: 5px;
}
.form-radiogroup > label{
    display:block;
}
.formlabel{
    text-align: right;
    padding-right: 5px;
}
.formbutton{
    float: left;
    margin-left: 50%;
}