<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <style>
        body{
            max-width: 1024px;
            min-width: 640px;
            width: 80%;               
            margin: 8px auto;
        }
        header {
            background-color: blue;
            height: 64px;
            width: 100%;
        }
        
        aside.right {
            background-color: brown;
            width:20%;
            float:right;
        }
        
        aside.left {
            background-color: lawngreen;
            width: 20%;
            float:left;
        }
        
        main {
            background-color: red;

            float:left;
            width: 60%;
        }
        
        footer {
            background-color: darkgoldenrod;
            height: 64px;;
            width: 100%;
            clear:both;
        }
    </style>
</head>

<body>
    <header></header>
    <aside class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum nunc eu volutpat interdum. Mauris ornare mi tellus, at tempus mi varius vitae. Duis egestas risus nisi, sed ultrices nisl cursus fermentum. Nunc cursus eget lacus ac maximus. Cras justo leo, dictum ac laoreet hendrerit, maximus eget ligula. Donec egestas at ex eu lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras rhoncus arcu purus, at semper arcu convallis in. Duis accumsan dolor vel venenatis laoreet. Morbi mollis arcu id ligula sollicitudin gravida. Aenean dapibus odio sit amet rhoncus porttitor. Pellentesque sit amet mauris ac metus pellentesque tristique quis ut lectus.

Proin iaculis quam sed nisi dignissim gravida. Etiam dictum dignissim dolor sit amet pulvinar. Integer euismod lobortis est, ut vulputate eros imperdiet vitae. Suspendisse potenti. Nam in felis pharetra, tincidunt sem a, porta diam. Nulla facilisi. Etiam ornare egestas quam quis cursus. Suspendisse nec pellentesque metus, vitae sodales lectus. Morbi id euismod magna.

Aliquam erat volutpat. In vitae lacinia augue, vitae consectetur purus. Nulla commodo tempor magna, eget sagittis sapien posuere eu. Maecenas bibendum elementum mauris, sit amet semper sapien hendrerit sed. Donec feugiat finibus gravida. Aenean augue eros, eleifend quis faucibus at, ultricies sed felis. Morbi ut maximus dui. Suspendisse aliquam odio vel est vestibulum sodales vel interdum augue. Aenean vulputate feugiat nunc. Duis vitae sapien non nulla pretium iaculis. Sed dictum lectus fermentum orci elementum semper. Mauris et mauris arcu. Morbi feugiat, ipsum eu gravida luctus, enim enim tempus enim, eu lacinia diam elit id enim. Quisque diam tortor, viverra eu felis eget, aliquet accumsan sem. Aenean vel ullamcorper ipsum, in condimentum quam. Maecenas mattis scelerisque fermentum.

Nunc ac orci dapibus, sollicitudin enim ut, hendrerit enim. Sed pellentesque pellentesque purus et tempor. Cras placerat tortor in est cursus venenatis. Donec sed velit pretium, blandit lacus eget, ornare dui. Donec nec erat ex. Nam mollis lacinia velit ultricies faucibus. Pellentesque interdum leo non sapien interdum, ornare porta dolor volutpat. Sed finibus, sem a tempus finibus, sem orci lobortis massa, non ullamcorper nibh purus sed massa. Nam non est pretium, consequat magna et, tincidunt orci.
</aside>
    <main>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum nunc eu volutpat interdum. Mauris ornare mi tellus, at tempus mi varius vitae. Duis egestas risus nisi, sed ultrices nisl cursus fermentum. Nunc cursus eget lacus ac maximus. Cras justo leo, dictum ac laoreet hendrerit, maximus eget ligula. Donec egestas at ex eu lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras rhoncus arcu purus, at semper arcu convallis in. Duis accumsan dolor vel venenatis laoreet. Morbi mollis arcu id ligula sollicitudin gravida. Aenean dapibus odio sit amet rhoncus porttitor. Pellentesque sit amet mauris ac metus pellentesque tristique quis ut lectus.

Proin iaculis quam sed nisi dignissim gravida. Etiam dictum dignissim dolor sit amet pulvinar. Integer euismod lobortis est, ut vulputate eros imperdiet vitae. Suspendisse potenti. Nam in felis pharetra, tincidunt sem a, porta diam. Nulla facilisi. Etiam ornare egestas quam quis cursus. Suspendisse nec pellentesque metus, vitae sodales lectus. Morbi id euismod magna.

Aliquam erat volutpat. In vitae lacinia augue, vitae consectetur purus. Nulla commodo tempor magna, eget sagittis sapien posuere eu. Maecenas bibendum elementum mauris, sit amet semper sapien hendrerit sed. Donec feugiat finibus gravida. Aenean augue eros, eleifend quis faucibus at, ultricies sed felis. Morbi ut maximus dui. Suspendisse aliquam odio vel est vestibulum sodales vel interdum augue. Aenean vulputate feugiat nunc. Duis vitae sapien non nulla pretium iaculis. Sed dictum lectus fermentum orci elementum semper. Mauris et mauris arcu. Morbi feugiat, ipsum eu gravida luctus, enim enim tempus enim, eu lacinia diam elit id enim. Quisque diam tortor, viverra eu felis eget, aliquet accumsan sem. Aenean vel ullamcorper ipsum, in condimentum quam. Maecenas mattis scelerisque fermentum.

Nunc ac orci dapibus, sollicitudin enim ut, hendrerit enim. Sed pellentesque pellentesque purus et tempor. Cras placerat tortor in est cursus venenatis. Donec sed velit pretium, blandit lacus eget, ornare dui. Donec nec erat ex. Nam mollis lacinia velit ultricies faucibus. Pellentesque interdum leo non sapien interdum, ornare porta dolor volutpat. Sed finibus, sem a tempus finibus, sem orci lobortis massa, non ullamcorper nibh purus sed massa. Nam non est pretium, consequat magna et, tincidunt orci.

Proin sit amet tellus eu lectus ultricies rutrum porta ut arcu. In sollicitudin sapien sit amet condimentum commodo. Mauris ornare magna nec diam imperdiet fermentum. Proin semper consectetur diam, in mattis lorem scelerisque eget. Nam a sollicitudin ante. Sed fringilla ac augue vitae tempor. Aenean risus neque, ultrices lobortis dolor quis, tincidunt ultricies ligula. Etiam finibus sit amet odio eget ullamcorper. Nulla tempus ullamcorper nibh sed tristique. Duis eros justo, consectetur ac mattis in, porta sed massa. Sed consectetur facilisis magna, ac laoreet nisl feugiat pellentesque. Pellentesque id lorem quis turpis luctus pellentesque. Integer mattis suscipit odio, placerat faucibus leo tempor eu. Pellentesque ut molestie odio.

Suspendisse dictum, nunc imperdiet mattis egestas, lectus lacus scelerisque erat, vitae dapibus nisl elit ac turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent placerat iaculis leo, eget venenatis arcu tristique at. Cras bibendum erat sed nibh auctor, ac faucibus est gravida. Suspendisse aliquam nulla at justo cursus interdum. Pellentesque ornare ligula sit amet nisi suscipit sodales. Phasellus commodo eu dui ac lacinia. Proin interdum non odio ac cursus. Etiam eget sagittis ante. Suspendisse eget purus ex.

Pellentesque ac maximus odio, nec malesuada massa. Suspendisse eget finibus est. Vestibulum ut eros non mauris gravida tempus et in justo. Nullam id sapien vel enim hendrerit pulvinar. Donec at hendrerit purus, ac iaculis justo. Aliquam tincidunt augue in eros placerat posuere. Maecenas pretium congue lacinia. Etiam maximus augue eget velit euismod, id convallis ante accumsan. Suspendisse faucibus molestie ornare. Proin imperdiet libero quis quam elementum placerat.

Nullam ullamcorper erat turpis, sed dignissim elit placerat a. Pellentesque ut massa elit. Praesent a lectus scelerisque, efficitur enim id, feugiat turpis. Fusce tristique ipsum id convallis ornare. Integer volutpat tellus tempor erat bibendum, id porta dolor pharetra. Donec massa enim, imperdiet sed sodales at, tincidunt et mauris. Nullam non neque aliquet, pellentesque tellus quis, dictum erat. Donec non rutrum nibh, non luctus ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas id lacinia risus. Duis ut odio justo.

Aliquam mollis interdum lectus. Etiam et est tellus. Duis eu diam vitae sem tristique elementum. In vehicula ultrices facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ipsum sapien, vehicula eu nulla vitae, rhoncus hendrerit urna. Maecenas ac nisi nec tortor facilisis luctus. Praesent feugiat scelerisque nisi vel ultrices. Praesent malesuada sed lectus quis porttitor. Morbi convallis semper accumsan. Mauris congue dignissim quam sed ultricies. Morbi vulputate ut orci quis varius. Duis mollis elit sed rhoncus faucibus. Fusce sapien erat, hendrerit at tincidunt a, condimentum sagittis lectus. Duis ex purus, ornare ut sapien vitae, aliquam lobortis diam. Proin elementum turpis risus, at mattis libero molestie non.

Fusce suscipit elit elit, non rhoncus sapien dictum non. Curabitur vel libero ac lacus pharetra eleifend ac sit amet leo. Morbi at cursus urna, eget tincidunt nisl. Mauris lorem tortor, luctus eu felis ut, pretium cursus urna. Nullam consectetur, neque vitae tristique ornare, neque ex consectetur arcu, nec mattis velit erat sed diam. Donec feugiat fringilla metus quis interdum. Nunc finibus lacus leo, non tristique velit egestas ac. Nulla scelerisque dui tincidunt aliquam commodo. Pellentesque tristique in ligula nec venenatis. Curabitur eu tristique neque. Nullam et dui in erat consectetur commodo. In elit ante, consequat at arcu euismod, sodales feugiat est. Fusce commodo, mauris a vulputate commodo, dolor tortor condimentum tortor, eget blandit erat velit eget elit. Quisque ac gravida elit, at commodo nisi. Nulla facilisis eu libero id dignissim. Mauris condimentum pretium elementum.
    </main>
    <aside class="right">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum nunc eu volutpat interdum. Mauris ornare mi tellus, at tempus mi varius vitae. Duis egestas risus nisi, sed ultrices nisl cursus fermentum. Nunc cursus eget lacus ac maximus. Cras justo leo, dictum ac laoreet hendrerit, maximus eget ligula. Donec egestas at ex eu lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras rhoncus arcu purus, at semper arcu convallis in. Duis accumsan dolor vel venenatis laoreet. Morbi mollis arcu id ligula sollicitudin gravida. Aenean dapibus odio sit amet rhoncus porttitor. Pellentesque sit amet mauris ac metus pellentesque tristique quis ut lectus.

Proin iaculis quam sed nisi dignissim gravida. Etiam dictum dignissim dolor sit amet pulvinar. Integer euismod lobortis est, ut vulputate eros imperdiet vitae. Suspendisse potenti. Nam in felis pharetra, tincidunt sem a, porta diam. Nulla facilisi. Etiam ornare egestas quam quis cursus. Suspendisse nec pellentesque metus, vitae sodales lectus. Morbi id euismod magna.

Aliquam erat volutpat. In vitae lacinia augue, vitae consectetur purus. Nulla commodo tempor magna, eget sagittis sapien posuere eu. Maecenas bibendum elementum mauris, sit amet semper sapien hendrerit sed. Donec feugiat finibus gravida. Aenean augue eros, eleifend quis faucibus at, ultricies sed felis. Morbi ut maximus dui. Suspendisse aliquam odio vel est vestibulum sodales vel interdum augue. Aenean vulputate feugiat nunc. Duis vitae sapien non nulla pretium iaculis. Sed dictum lectus fermentum orci elementum semper. Mauris et mauris arcu. Morbi feugiat, ipsum eu gravida luctus, enim enim tempus enim, eu lacinia diam elit id enim. Quisque diam tortor, viverra eu felis eget, aliquet accumsan sem. Aenean vel ullamcorper ipsum, in condimentum quam. Maecenas mattis scelerisque fermentum.

    </aside>
    <footer>

    </footer>
</body>

</html>